{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
{% endblock styles %}


{% block content %}
<div class="animated fadeIn">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Список предложений</strong>
        </div>
        <div class="table-stats table-hover table-bordered table-striped order-table ov-h">
            <table class="table">
                <thead>
                    <tr>
                        <th class="serial">#</th>
                        <th>Отправитель</th>
                        <th>Заголовок</th>
                        <th>Дата получения</th>
                        <th>Статус</th>
                    </tr>
                </thead>
                <tbody>
                    {% for feedback in feedbacks  %}
                    <tr>
                        <td> #{{ feedback.id }} </td>
                        <td> <span >{{ feedback.user.username }}</span> </td>
                        <td> <a href="{% url 'feedback' feedback.id %}">{{ feedback.title }}</a> </td>
                        <td> <span >{{ feedback.created }}</span> </td>
                        {% if feedback.status %}
                        <td> <span class="badge badge-complete">Прочитано</span> </td>
                        {% else %}
                        <td> <span class="badge badge-danger">Не прочитано</span> </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include '_pagination.html' %}
        </div>
    </div>
</div>
{% endblock content %}