{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
{% endblock styles %}


{% block content %}
<div class="animated fadeIn">
    <div class="card">
        <div class="card-header">
            <strong style="font-size: 20" class="card-title">Пользователь</strong>
        </div>
        <div class="card-body">
                <ul class="nav nav-pills" id="pillst-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="infotab" data-toggle="pill" href="#info" role="tab" aria-controls="info" aria-selected="true">
                                Сведения
                            </a>
                        </li>
                        <li class="nav-item" id="chattabclick">
                            <a class="nav-link" id="chattab" data-toggle="pill" href="#chat" role="tab" aria-controls="chat" aria-selected="false">
                                Чат
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent" style="margin-top: 15px">
                        <div class="tab-pane fade active show" id="info" role="tabpanel" aria-labelledby="infotab">
                                <h6 class="fcontent"><b>Номер телефона: </b> {{ user.username }}</h6>
                                <h6 class="fcontent"><b>Предложения по улучщению: </b><a href="{% url 'userfeedback' user.id %}">{{ user.feedback_set.count }}</a></h6>
                                <h6 class="fcontent"><b>Сообщения: </b> {{ user.message_set.count }}</h6>
                                <h6 class="fcontent"><b>Дата регистрации: </b> {{ user.ewpuser.created }}</h6>
                        </div>
                            <div class="tab-pane fade" id="chat" role="tabpanel" aria-labelledby="chattab">
                                <div id="chat-container" class="panel-body">
                                    <ul id="chat-log" class="chat">
                                        {% with user.chatroom_set.all|first as room %}
                                        {% for message in room.message_set.all %}
                                        {% if user.username != message.sender %}
                                        <li class="right clearfix">
                                                <span class="chat-img pull-right">
                                                    <img src="http://placehold.it/50/FA6F57/fff&amp;text=AD" alt="User Avatar" class="img-circle">
                                                </span>
                                                <div class="chat-body clearfix">
                                                    <div class="header">
                                                        <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>{{message.created|date:"[d.M.Y]-[H:i:s]"}}</small>
                                                        <strong class="pull-right primary-font">'{{message.sender}}'{{user.username}}'</strong>
                                                    </div>
                                                    <p>
                                                        {{message.body}}
                                                    </p>
                                                </div>
                                            </li>
                                        {% else %}
                                        <li class="left clearfix">
                                                <span class="chat-img pull-left">
                                                    <img src="http://placehold.it/50/55C1E7/fff&amp;text=U" alt="User Avatar" class="img-circle">
                                                </span>
                                                <div class="chat-body clearfix">
                                                    <div class="header">
                                                        <strong class="primary-font">{{message.sender}}</strong> <small class="pull-right text-muted">
                                                        <span class="glyphicon glyphicon-time"></span>{{message.created|date:"[d.M.Y]-[H:i:s]"}}</small>
                                                    </div>
                                                    <p>
                                                        {{message.body}}
                                                    </p>
                                                </div>
                                            </li>
                                        {% endif %}
                                        {% endfor %}
                                        {% endwith %}
                                    </ul>
                                </div>
                                <div class="panel-footer">
                                    <div class="input-group">
                                        <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here...">
                                        <span class="input-group-btn">
                                            <button class="btn btn-warning btn-sm" id="btn-chat">
                                                Send
                                                </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
        </div>
    </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script>
    var roomName = {{ user.chatroom_set.all|first }};
    var chatlist = document.getElementById("chat-log");
    var chatcontainer = document.getElementById("chat-container");
    var chatUrl = 'ws://' + window.location.host +
        '/ws/chat/' + roomName + '/';
    var chatSocket = new WebSocket(chatUrl);

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        var sender = data['sender'];
        var created = data['created'];
        // document.querySelector('#chat-log').value += (message + '\n');
        if(sender !== {{user.username}}){
            chatlist.insertAdjacentHTML('beforeend', `<li class="right clearfix">
                <span class="chat-img pull-right">
                    <img src="http://placehold.it/50/FA6F57/fff&amp;text=AD" alt="User Avatar" class="img-circle">
                </span>
                <div class="chat-body clearfix">
                    <div class="header">
                        <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>${formatDate(created)}</small>
                        <strong class="pull-right primary-font">${sender}</strong>
                    </div>
                    <p>
                        ${message}
                    </p>
                </div>
            </li>`)
        }else{
            chatlist.insertAdjacentHTML('beforeend', `<li class="left clearfix">
                <span class="chat-img pull-left">
                    <img src="http://placehold.it/50/55C1E7/fff&amp;text=U" alt="User Avatar" class="img-circle">
                </span>
                <div class="chat-body clearfix">
                    <div class="header">
                        <strong class="primary-font">${sender}</strong> <small class="pull-right text-muted">
                        <span class="glyphicon glyphicon-time"></span>${formatDate(created)}</small>
                    </div>
                    <p>
                        ${message}
                    </p>
                </div>
            </li>`)
        }
        scrollTo(chatcontainer, chatlist.scrollHeight, 600);
    };

    chatSocket.onerror = function (e) {
        chatSocket = new WebSocket(chatUrl);
    }

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#btn-input').focus();
    document.querySelector('#btn-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#btn-chat').click();
        }
    };

    document.querySelector('#btn-chat').onclick = function(e) {
        var messageInputDom = document.querySelector('#btn-input');
        if(messageInputDom.value!==""){
            var message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
            scrollTo(chatcontainer, chatlist.scrollHeight, 600);
        } else {
            alertify.alert("Пустое сообщения!");
        }
    };

    function scrollTo(element, to, duration) {
        var start = element.scrollTop,
            change = to - start,
            currentTime = 0,
            increment = 20;

        var animateScroll = function(){
            currentTime += increment;
            var val = Math.easeInOutQuad(currentTime, start, change, duration);
            element.scrollTop = val;
            if(currentTime < duration) {
                setTimeout(animateScroll, increment);
            }
        };
        animateScroll();
    }

    //t = current time
    //b = start value
    //c = change in value
    //d = duration
    Math.easeInOutQuad = function (t, b, c, d) {
        t /= d/2;
        if (t < 1) return c/2*t*t + b;
        t--;
        return -c/2 * (t*(t-2) - 1) + b;
    };
    // document.getElementById("chattabclick").onclick = function () {
    //     scrollTo(chatcontainer, chatlist.scrollHeight, 600);
    // }
    jQuery(document).ready(function($) {
        $('a[data-toggle="pill"').on('shown.bs.tab', function (e) {
            if(e.target.id==="chattab"){
                scrollTo(chatcontainer, chatlist.scrollHeight, 600);
            }
    });
    });
    // var myTabs = document.getElementById('pillst-tab');
    // var myTabCollection = myTabs.getElementsByTagName('a');
    // var myLastTab = myTabCollection[myTabCollection.length-1];
    // myLastTab.addEventListener('shown.bs.tab', function (event) {
    //     alert("wtf");
    // }, false);

    function formatDate(dt) {
        var date = new Date(dt);
        var locale = "ru-RU";
        var mon = date.toLocaleString(locale, {month: "short"}).substring(0,3);
        return "["+('0'+date.getDate()).slice(-2)+"."+mon.charAt(0).toUpperCase()+mon.slice(1)+"."+date.getFullYear()+"]-["+('0'+date.getHours()).slice(-2)+":"+('0'+date.getMinutes()).slice(-2)+":"+('0'+date.getSeconds()).slice(-2)+"]";
    }
</script>
{% endblock scripts %}